body{
    font-family: cursive;

}

.navbar {
    background-image: url("fundo.jpg");
    font-size: x-large;
}

/*
.artesã {
    background-color: rgb(253, 245, 247);
    color: darkgray;
    border: rgb(231, 160, 174);

}
*/
.sobres {
    background-color: rgb(253, 245, 247);
    text-align: center;
}

.margin {
    padding-top: 50px;
    padding-bottom: 10px;
}

.produtos {
    color: rgb(14, 11, 11);
    background-color: rgb(253, 245, 247);
    padding-bottom: 50px;
    padding-top: 10px;
}

.contato {
    background-image: url("fundo.jpg");

}

.contato:hover {
    color: white;
}

.rodape {
    background-color: rgb(14, 11, 11);
    color: rosybrown;
}

a {
    text-decoration: none;
    color: rgb(14, 11, 11);
}