body{
    font-family: cursive

}

.navbar {
    background-image: url("fundo.jpg");
}

/*
.artesã {
    background-color: rgb(253, 245, 247);
    color: darkgray;
    border: rgb(231, 160, 174);

}
*/
.sobres {
    text-align: center;
}

.margin {
    padding-top: 50px;
    padding-bottom: 10px;
}

.produtos {
    background-color: rgb(253, 245, 247);
    color: rgb(14, 11, 11);
    padding-bottom: 50px;
}

.contato {
    background-image: url("fundo.jpg");
}

.rodape {
    background-color: rgb(14, 11, 11);
    color: rosybrown;
}

a {
    text-decoration: none;
    color: white;
}